@charset "utf-8";

/*header*/
header .hwrap{min-width:980px;
		width: 100%;height: 70px;
		background-image: url(../images/04비행기.jpg);
		_background-size: cover;
		background-repeat: no-repeat;

	}
header .hwrap div{width: 980px; margin: 0 auto;}
header ul{margin: 0 auto;}
header .hmenu li{
	float: left;width: 326.66px;height: 70px;
	_border: 1px solid #000;
	margin: 0 auto;
}
header .hmenu li.logo{text-align: center;color: #000;}
header .hmenu li.logo img{
	display: block;width: 200px;height: 50px;margin:10px;
	text-align: center;
}

header .hmenu li.search{}
header .hmenu li form{position:relative;top: 15px;left: -20px;}
header .hmenu li.search .searchTitle{
			display: block;position: absolute;
			width: 60px;height: 20px;
			background-image: url(../images/searchtext.jpg);
			text-indent:-9999px;left:20px;top:10px;z-index:2;
			}
header .hmenu li.search .searchInp{
			position:absolute;
			width: 300px;height: 40px;
			text-indent:90px;font-size:13px;
			_border: 3px solid #000;border-radius:25px;
			}
header .hmenu li.search .buttonInp{width: 20px;height: 20px;
			position: absolute;right: 40px;top: 10px;
			text-indent: -999;
			display: block;
			background: #fff;
			background-image: url(../images/search.jpg);
			background-size: cover;
			border: none;border-radius: 20px;cursor: pointer;
			}
header .hmenu li.search button img{width: 20px;height: 20px;}

header .hmenu li.tel{position: relative;left: -20px;}
header .hmenu li.tel h2{
	color: #fff;position: absolute;top: 15px;

}
header .hmenu li .sns{width: 120px;height: 50px;_border: 1px solid #000;
	position: absolute;right: 0;bottom: 0;padding-top: 1px;

}
header .hmenu li .sns img{float: right;width: 25px;height: 25px;margin-left: 4px;text-align: center;}



/*gnb*/
header .gwrap{width: 100%;background:#f4f4f4;}
header .gwrap .gnb{width: 980px;margin: 0 auto;position: relative;}
header .gwrap .gnb ul{}
header .gwrap .gnb li{
	float: left;width: 163.33px;height: 60px;
	_border: 1px solid #000;_border-bottom: 3px solid #0e73a7;
	line-height: 50px;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
	color: #142630;


}
header .gwrap .gnb li{}
header .gwrap .gnb li a{display: block;width: 100%;height: 100%;transition: 0.3s}
header .gwrap .gnb li a:after{
	content:"" ;display: block;width: 1px;height: 30px;
	background: #dcdcdc;position: absolute;top: 10px;
}



header .gwrap .gnb li a:hover{
	border-bottom: 5px solid #0e73a7;
	transform: scaleX(1);


}



/* contents */
body{
	background-image: url(../images/bg02.jpg);
	background-size: cover;
	background-size: width: 100px;height: 100px;
	background-repeat: no-repeat;



}

#contents{}
#contents .container{width: 980px;_height:1200px;margin: 0 auto;_background: pink;}
#contents .container>ul>li{float: left;width: 233px;height: 230px;margin-top: 15px;}
#contents .container>ul>li:nth-child(1){width: 480px;height: 600px;_border: 1px solid #000;padding-top: 55px;}
#contents .container>ul>li:nth-child(2){width: 500px;height: 600px;_border: 1px solid #000;padding-top: 55px;}
#contents .container>ul>li:nth-child(3){}
#contents .container>ul>li:nth-child(4){}
#contents .container>ul>li:nth-child(5){}
#contents .container>ul>li:nth-child(6){}
#contents .container>ul>li:nth-child(7){width: 100%;_border: 1px solid #000;}


/*cont01;*/
#contents .container .cont01{position: relative;}
#contents .container .cont01 .form{position:absolute;width: 100%;height: 300px;}
#contents .container .cont01 .form li{padding-left: 150px;height: 300px;}
#contents .container .cont01 .form .sliderTab{
		position: absolute; left: 0;bottom: 0;
		/*width: 100%;height: 100%;*/
	}
#contents .container .cont01 .form .sliderTab a{
		display: block;width: 140px;height: 75px;line-height: 75px;
		background-color: #f00; text-align: center;
		color: #fff; font-size: 1em;
		_border: 1px solid #000; padding-left: 15px;

	}
#contents .container .cont01 .form .sliderTab a:first-child{background:#00497c;}
#contents .container .cont01 .form .sliderTab a:nth-child(2){background:#006599;}
#contents .container .cont01 .form .sliderTab a:nth-child(3){background:#0099cb;}
#contents .container .cont01 .form .sliderTab a:last-child{background:#6dcff6;}
#contents .container .cont01 .form .sliderTab a:before{
		content:"";
        background-image: url("../images/air.png");
        background-size:30px 30px;
        width:30px;
        height:30px;
        display:inline-block;
        position: absolute; top: 20px;left: 10px;
}
#contents .container .cont01 .form .sliderTab a{
	transition: 0.3s;
	transform-origin:left center;
}
#contents .container .cont01 .form .sliderTab a:hover{
	background:#fff;color: #000;
	transform-origin:right center;

}

/*form*/
	#contents .container .cont01 .form fieldset{width: 100%;height: 300px;
		position: absolute;top: 0;right: 0;
		padding-top: 10px;padding-left: 150px;padding-right: 15px;
		line-height: 35px;background-color: #fff;
	}

	#contents fieldset .field .inp-field{
		width: 315px;height: 30px;border:1 none; /*보드값삭제*/
		color:#333;font-size:13px;text-indent:12px; /*들여쓰기*/
	}
	#contents fieldset .date .date_left{float: left;}
	#contents fieldset .date .date_right{float: right;}
	#contents fieldset .date .inp-field02{
		width: 140px;height: 30px;border:1 none; 
		color:#333;font-size:13px;text-indent:12px;
	}

	#contents fieldset .date .seat_left{float: left;}
	#contents fieldset .date .seat_right{float: right;_width: 150px;}
	#contents fieldset .date .inp-field03{
		width: 120px;height: 30px;border:1 none; 
		color:#333;font-size:13px;text-indent:12px; 
	}
	#contents fieldset .date .inp-field04{
		width: 70px;height: 30px;border:1 none; 
		color:#333;font-size:13px;text-indent:12px; 
	}
 
	#contents fieldset button{position: relative;
		margin-top: 20px;margin-bottom: 20px;width: 315px;height: 40px;
		background: #ea4f1f;color: #fff; font-weight: bold;border: none;
		cursor: pointer;line-height: 30px;text-align: center;
	}
	#contents fieldset button .icon2{display: block;position: absolute;left: 100px;top: 5px;}



/*under_cont*/
.cont01 .under_cont{width: 100%;position: absolute;margin: 0 auto;bottom: 0;}
#contents .container .cont01 .under_cont li{width: 232px;height: 230px;float: left;
	margin-right: 15px;margin-top: 15px;
}

	.cont01 .under_cont {_background: gray;}
	.cont01 .under_cont li{overflow: hidden;_background: #000;}
	#contents .container .cont01 .under_cont li:last-child{margin-right: 0;}
	#contents .container .cont01 .under_cont li img{transition: 0.3s;width: 100%;height: 100%;}

	#contents .container .cont01 .under_cont li:hover img{transform: scale(1.2);}

	#contents .container .cont01 .under_cont li{position: relative;}
	#contents .container .cont01 .under_cont .overay p{
		display: block;color: #fff;text-align: center;line-height: 60px;}
	#contents .container .cont01 .under_cont .overay p:after{
		content:">";font-size: 20px;color:#8e9c9f;
		font-weight: bold;
	}
	#contents .container .cont01 .under_cont .overay span{color: #6fc562;}
	#contents .container .cont01 .under_cont .overay{
		position: absolute;bottom: 0;left: 0;
		width: 100%;height: 60px;
		background: rgba(0, 0, 0, 0.9);
	}

/*풍선2*/
#contents .container .cont01 .under_cont .bal02{
	position: absolute;;left: -300px;top: 100px;z-index: -999;
	animation-name: bal02;
	animation-duration: 5s;
	animation-fill-mode: line;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform: 0.3s;

}

@keyframes bal02{
	from{bottom: 0;}
	to{top: 0;}
}



/*=====cont02======*/
#contents .container .cont02{position: relative;}
#contents .container .cont02 div.text{width: 100%;_height: 200px;padding: 20px;}
#contents .container .cont02 h2{
	font-weight: normal;letter-spacing: -1px;
	line-height: 35px;

}
#contents .container .cont02 h2{font-size: 50px;font-weight: bold;_border-bottom: 5px solid #000;}
#contents .container .cont02 h2:after{display: block;content: "";width: 70px;border: 2px solid #000;background: #000;margin-top: 10px;margin-left: 195px;}
#contents .container .cont02 h3{font: 1.5em sans-serif;font-weight: bold;}
#contents .container .cont02 img{position:absolute;top:-200px;right: -100px;
			animation-name:bal01;
			animation-duration:3s;
			animation-iteration-count:infinite;
			animation-direction:alternate;
			z-index:-999
		}
		@keyframes bal01{
			0%{top:200px;}
			_50%{top:-250px;}
			100%{top:50px;}
		}


/*=====cont03======*/
#contents .container .cont03{position: relative;}
#contents .container .cont03 li{width: 233px;height: 230px;}
#contents .container .cont03 li img{display: block;width: 100%;height: 100%;}
#contents .container .cont03 .overay{
		position: absolute;bottom: 0;left: 0;
		width: 100%;height: 80px;
		background: rgba(82,147,81, 0.9);
		text-align: center;
		padding-left: 10px;
	}

#contents .container .cont03 p{padding-top: 20px;text-align: left;color: #fff;}
#contents .container .cont03 div.star{text-align: left;}
#contents .container .cont03 div.star span{display: inline-block;width: 16px;height: 16px;}


/*=====cont04======*/
#contents .container .cont04{position: relative;}
#contents .container .cont04 li{width: 233px;height: 230px;}
#contents .container .cont04 li img{display: block;width: 100%;height: 100%;}
#contents .container .cont04 .overay{
		position: absolute;bottom: 0;left: 0;
		width: 100%;height: 80px;
		background:rgba(0,0,0, 0.8);
		text-align: center;
		padding-left: 10px;
	}

#contents .container .cont04 p{padding-top: 20px;text-align: left;color: #fff;}
#contents .container .cont04 div.star{text-align: left;}
#contents .container .cont04 div.star span{display: inline-block;width: 16px;height: 16px;}



/*=====cont05======*/
#contents .container .cont05{position: relative;overflow: hidden;}
#contents .container .cont05 h3{position: absolute;width: 100%;color: #fff;
	text-align: center;padding-top: 10px; z-index: 100;}
#contents .container .cont05 img{display: block;width: 100%;height: 100%;transition: 0.3s}
#contents .container .cont05 .overay{
	position: absolute;bottom: 0;left: 0;
	width: 100%;height: 80px;
	background: rgba(0,0,0, 0.8);}
#contents .container .cont05 p{padding-top: 20px;text-align: left;color: #fff;margin-left: 10px;}

#contents .container .cont05:hover img{transform: scale(1.2);}


/*=====cont06======*/
#contents .container .cont06{position: relative;overflow: hidden;}
#contents .container .cont06 h3{position: absolute;font-size:14px;padding:20px;z-index: 100;}
#contents .container .cont06 h3 span{display: block;font: 0.8em sans-serif;font-weight: bold;margin-top: 20px;color: #44619d;}
#contents .container .cont06 img{display: block;width: 100%;height: 100%;transition: 0.3s}
#contents .container .cont06 .overay{
	position: absolute;bottom: 0;left: 0;
	width: 100%;height: 80px;
	background: rgba(68,97,157, 0.9);} 
#contents .container .cont06 p{padding-top: 20px;text-align: left;color: #fff;margin-left: 10px;}
#contents .container .cont06 div.star{position: absolute;left: 20px;bottom: 90px;z-index: 100;}
#contents .container .cont06 div.star span{display: inline-block;width: 13px;height: 13px;}

#contents .container .cont06:hover img{transform: scale(1.2);}

/*=====cont07======*/
#contents .container .cont07{}
#contents .container .cont07 li{position: relative;float: left;width: 233px;height: 230px;
	_border-left: 1px solid #000;
	margin-right: 15px;
}
#contents .container .cont07 img{display: block;width: 100%;height: 100%;}
#contents .container .cont07 div.txt{position: absolute;width: 100%;text-align: center;color: #fff;}

#contents .container .cont07 li:first-child div.txt,
#contents .container .cont07 li:last-child div.txt{top: 10px;}
#contents .container .cont07 li:nth-child(2) div.txt,
#contents .container .cont07 li:nth-child(3) div.txt{bottom: 10px;}



#contents .container .cont07 p{font-size: 13px;margin-top: 10px;}
#contents .container .cont07 h3{}
#contents .container .cont07 h3 span{display: inline-block;width: 25px;height: 25px;}

#contents .container .cont07 li div.overay{position: absolute;bottom: 0;
	width: 100%;height: 100%;}
#contents .container .cont07 li:first-child div.overay{
	background:rgba(119,200,255,0.7);}
#contents .container .cont07 li:nth-child(2) div.overay,
#contents .container .cont07 li:nth-child(3) div.overay
{background:rgba(0,0,0,0.5);}
#contents .container .cont07 li:last-child div.overay
{background:rgba(103,174,142,0.7);}


#contents .container .cont07 li:last-child{margin-right: 0;}

	#contents .container .cont07 li div.bar{
			width: 30px;height: 30px;_background:pink;
			position: absolute;left:50%;top: 50%;
			transform:translate(-50%,-50%);
			border-radius:15px;border: 3px solid #fff;
			transition:0.3s;
		}

	#contents .container .cont07 .bar .bar1,.bar .bar2{
			width: 20px;height: 3px;background: #fff;
			position: absolute;left: 50%;top:50%;
			transform:translate(-50%,-50%);
			border-radius:3px;
		}
	#contents .container .cont07 .bar .bar2{transform:translate(-50%,-50%) rotate(90deg);}

	#contents .container .cont07 li:hover .bar{
		transform:translate(-50%,-50%) rotate(90deg) scale(1.2);}


/*common*/
.ml15{margin-right: 15px;}
.mt15{margin-top: 15px;}
.mb15{margin-bottom: 15px;}


footer{width: 980px;margin: 0 auto;background: #fff;padding-bottom: 10px;}
footer div{color: #000;font-size: 14px}
footer address{color: #000;font-style: normal;font-size: 12px}