@charset "utf-8";
header#main_header{height: 1950px;position: relative;margin-bottom: 100px;}

/*헤더*/
#header_top{
	width:100%;background:rgb(0,0,0,0.6);height: 80px;
	position: fixed;;z-index:10000;top: 30px;
}
#header_top .logo{
	position: absolute;top: 15px;}
#header_top .logo img{width: 50px;height: 50px;}

/*메인메뉴*/
#main_menu{
	position: absolute;width: 1260px;height: 80px;
	_border: 1px solid red;
	left:50%;transform:translateX(-50%);
	}
#main_menu ul{float: right;}
#main_menu li{float:left;width: 168px;}
#main_menu li a{
	height: 80px;padding: 20px 20px;
	display: block;
	_border: 1px solid red;text-align: center;
	font-weight: bold;color: #fff;
	font:1.5em sans-serif;
}

#main_menu li span{font-size:18px;color:#ea4c89;font-weight: bold;}
.toggleMenu{display: block;}

#main_menu li a:hover{color: #69dc83;}

/*서브메뉴*/
.submenu{display: none;_float: none;}
.submenu{width: 100%;background:rgb(0,0,0,0.6);}
.submenu li{_font-size: 16px;}
.submenu li:hover{background-color:white;display: block;color: #000;}
.submenu a{
	display: block;line-height:30px;
	text-align: center;color:#fff;
}


/*slier*/
.sliderWrap{height: 1005px;}
.sliderWrap li{
	height: 1005px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}
.sliderWrap li.slider_1st{
	background-image: url(../images/mainimg01_.jpg);
}
.sliderWrap li.slider_2st{
	background-image: url(../images/mainimg02_.jpg);
}


.sliderWrap .slider_txt{ /*ml가운데*/
	position: absolute;width: 1000px;left:50%;margin-left:-500px;
	text-align: center;color:white;top:30%;
}
.sliderWrap .slider_txt h3{font-size:48px;word-spacing: 10px;}
_.sliderWrap .slider_txt h3:after{
	content:"";display: block;width: 300px;height: 2px;background: #fff;margin: 10px auto
}
.sliderWrap .slider_txt p{font-size: 2em;}

.sliderWrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}


/*content*/	
.content{width: 1260px;_margin: 0 auto;position: absolute;left: 50%;transform:translateX(-50%);bottom: 0;}
.content>ul>li{position: relative;
	float: left;width: 25%;height: 315px;
	overflow: hidden;
}
.content>ul>li a{color: white;transition: 0.5s;}

/* content layout */
.content>ul>li.cont01{background: #69dc83;}
.content>ul>li.cont02{}
.content>ul>li.cont03{width: 50%;}
.content>ul>li.cont04{background: #005e8a;}
.content>ul>li.cont05{background: #ea4c89;}
.content>ul>li.cont06{width: 50%;}
.content>ul>li.cont07{height:630px}
.content>ul>li.cont08{width: 50%;}
.content>ul>li.cont09{background: #ea4c89;}
.content>ul>li.cont10{background: #69dc83;}
.content>ul>li.cont11{width: 50%;}

/*content cell*/
.content li{}
.content li p{font-size: 26px}
.content li a:hover{transform: scale(1.3);} 	
.content li.jpg:hover{opacity: 0.8;color: #000;}



.content li.cont01 a,
.content li.cont04 a,
.content li.cont05 a,
.content li.cont09 a,
.content li.cont10 a
{text-align: center;display: block;height: 100%;padding-top: 85px;}

.content li.cont01 img,
.content li.cont04 img,
.content li.cont05 img,
.content li.cont09 img,
.content li.cont10 img
{display: block;margin: 0 auto;margin-bottom: 5px;}


/* content txt */
.content div.txt{position: absolute;top: 40px;left: 40px;}
.content div.txt h3:after{
	content: "";display: block;width: 50px;height: 2px;
	background-color: #fff;margin: 20px 0;
}
.content div.txt p{font-size: 1.3em;}


/* modal */
.content .cont02 .bgImg{transition:0.3s;}
.content .cont02:hover .bgImg{transform:scale(1.2);}
.content .cont02 .play{
	position: absolute;left: 50%;top: 50%;
	transform: translate(-50%,-50%);
}

/*news slider*/
.content .cont03{}
.content .cont03 h2{position: absolute;top: 40px;left: 40px;}
.content .sliderWrap{width: 630px;height: 315px;}
.content .sliderWrap li.news{width: 630px;height: 315px;}
.content .sliderWrap .left{position: relative;float: left; width: 315px;height: 315px;padding: 80px 40px;}
/*뉴스 슬라이드 화살표*/
.content .sliderWrap .left:after{
	content:"";display: block;
	border-width: 30px;
	border-style: solid;
	border-color: transparent transparent transparent white;
	position: absolute;
	top: 50%;transform:translateY(-50%);
	right: -50px;
}

.content .sliderWrap .right{float: right;width: 315px;height: 315px;}
.content .cont03 .btn{position: absolute;bottom: 20px;left: 213px;width: 76px;}
.content .cont03 .btn img{width: 38px;height: 38px;float: left;}


/* container */
.container{
	height: 750px;
	background:url(../images/contentsbg01_.jpg) no-repeat center fixed;
	background-size: cover;color: white;padding-top: 70px;
}
.container .section{width: 1260px;margin: 0 auto;}
.container h1{text-align: center;}
.container h1:after{
	content: "";display: block;width: 50px;height: 3px;background-color: #fff;
	margin: 20px auto;
}
.container .section>p{text-align: center;font-size: 1.5em;margin-bottom: 100px;}
.container .section li{
	float: left;margin-right: 20px;width: 300px;height: 300px;background-color:rgba(100,129,205,0.9);
	padding-top: 70px;border-radius: 150px;transition: 0.3s;

}

.container .section li:hover{box-shadow: 5px 5px 5px rgba(161,161,161,0.5);transform: translateY(-30px)} 
	                        /*박스섀도우 x,y,섀도우값,음영                / 트랜스폼-위치 이동*/
.container .section li:last-child{margin-right: 0;}
.container .section li img{display: block;margin: 0 auto;}
.container .section li .card_body{text-align: center;padding: 20px 40px;}
.container .card_body h3{margin-bottom: 10px;}

/* container02 */
.container02{
	height: 750px;padding-top: 70px;
	background-color: #f6f9fe;
}
.container02 .section02{width: 1260px;margin: 0 auto;}
.container02 h1{text-align: center;}
.container02 h1:after{
	content: "";display: block;width: 50px;height: 3px;background-color: #000;
	margin: 20px auto;
}
.container02 .section02>p{text-align: center;font-size: 1.5em;margin-bottom: 100px;}
.container02 .section02 li{position: relative;
	float: left;margin-right: 20px;width: 280px;height: 400px;background-color:rgba(100,129,205,0.9);
	padding-top: 70px;border-radius:0px;transition: 0.3s;

}
.container02 .section02 li:hover{box-shadow: 10px 10px 15px rgba(0,0,0,0.8);transition: 0.3s}
.container02 .section02 li:first-child{top: 30px;background:url(../images/card02_01.jpg);}
.container02 .section02 li:nth-child(2){top: 0px;background:url(../images/card02_02.jpg);}
.container02 .section02 li:nth-child(3){top: 30px;background:url(../images/card02_03.jpg);}
.container02 .section02 li:last-child{margin-right: 0;background:url(../images/card02_04.jpg);}
.container02 .section02 li img{display: block;margin: 0 auto;}
.container02 .section02 li .card_body{_text-align: center;padding: 0px 40px;color: #fff;}
.container02 .card_body h3{margin-bottom: 10px;}
.container02 .card_body p{font-size: 70px;font-weight: bold;}
.container02 .card_body p span{font-size: 16px}